{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>Post List:</h1>
    <ul>
        {%for post in posts%}
        <li>{{ post.title }}</li>
        {{post.content}} <br>
        {{post.user}}
        <hr>
        {% endfor %}
    </ul>

<img src="{%static 'picturefiles/tr.jpg'%}" alt="picture">
</body> 
</html>